body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.main-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #fe6e2f, #f73861);
    overflow: auto;
}

.menubar {
    width: 80%;
    overflow: auto;
    margin: 30px auto;
}

.logo {
    width: 40%;
    float: left;
    overflow: auto;
}

.symbol {
    float: left;
}

.awesome {
    font-size: 23px;
    color: white;
    float: left;
    margin: 15px;
}

.menus {
    width: 40%;
    float: right;
}

li {
    display: inline-block;
    padding: 10px;
    color: white;
}
dl {
    padding: 10px;
    color: white;
    border-style: solid;
    border-radius: 20px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 40px auto;
    overflow: auto;
}

.desc {
    width: 50%;
    padding: 20px 0px;
    float: left;
    color: white;
}

.img {
    width: 50%;
    padding: 20px;
    float: left;
    text-align: center;
}

.start {
    width: 30%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px 0px;
    margin: 60px 0px;
    border-style: solid;
    border-radius: 20px;
}
